

h1 {
    color: #2c3e50;
    text-align: center;
}
h2 {
    color: #34495e;
    text-align: center;
}
p {
    color: #7f8c8d;
    font-size: 16px;
}
a {
    color: #2980b9;
    text-decoration: none;
}
main 
    {
    background-size: cover;
    margin: 0 auto;
    padding: 20px;
}
body {
    background-image: url(../img/hector-j-rivas-1FxMET2U5dU-unsplash.jpg);
  
}
header, footer {
    background-color: rgba(43, 43, 150, 0.5);
    padding: 10px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    font-weight: bold;
    color: grey;
}
h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: rgba(129, 127, 127,0.5);
    
}

footer p {
    font-size: 14px;
    color: hsl(0, 95%, 42%);
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
    color: hsl(0, 95%, 42%);
}

ul li p {
    margin-bottom: 10px;
    color: hsl(0, 95%, 42%);
}

form label {
    display: block;
    margin-bottom: 5px;
    color: hsl(0, 95%, 42%);
}

address {
    font-style: normal;
    line-height: 1.6;
    color: hsl(0, 95%, 42%);
}

br {
    margin-bottom: 10px;
    color: hsl(0, 95%, 42%);
}   
