@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
h1 {
    font-family: 'Calligraffitti', cursive;
    }

    p {
         font-size: larger;
         font-style: italic;
         font-weight: lighter;
    }


